<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONN_STR" value="Data Source=ASSIA\INSTANCE_2K19_1;Database=New_Project;User ID=sa;Password=sapassword" />
    <add key="BLC_MESSAGES" value="D:\New_Project\App\BLC\Messages\Messages.xml" />
  </appSettings>
</configuration>